*{
  margin:0;
  box-sizing: border-box;
}


body{
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}

.title__initial{
  font-size: 1.2rem;
  color: #ED6436;
  padding: 15px;
}

button{
  
  border: none;
  border-radius: 20px;
  border-top-left-radius: 0;
  font-size: 1.5rem;
  font-family: "Nunito";
  margin-left: 600px;
  cursor: pointer;
}

.title__separator{
  display: flex;
  padding: 10px;
}

.title__separator--subtitle{
  font-size: 3rem;
  font-weight: bold;
}

.images > img{
  padding: 1rem;
  border-radius: 30px;
  flex-wrap: nowrap;
  flex-direction: row;
  cursor: pointer;
}

.button__view-all{
  color: white;
  background-color: #ED6436;
}


.button__view-all:hover{
  background-color: antiquewhite;
  color: #ED6436;
}

.menu{
  color: blackS;
  text-decoration: none;
  list-style: none;
}

header{
  display: flex;
  align-items: center;
  border-bottom: 5px grey;
  cursor: pointer;
}

.button__Buy{
  background-color: antiquewhite
  color black;
  border: 2px solid;
  border-color: #ED6436;
  margin-left: 680px;
}

.button__Buy:hover{
  background-color:#ED6436 ;
  color: white;
}

.images > img:hover{
  position: absolute;
    content: " ";
}
